[run]
branch = True
source =
	nextlevelapex
	Tests
omit =
		*/__init__.py
		*/migrations/*
		*/site-packages/*
		*/tests/*
		.venv/*
		nextlevelapex/core/logger.py
		nextlevelapex/main.py
		nextlevelapex/tasks/*
		setup.py


[report]
show_missing = True
skip_covered = True
exclude_lines =
		def __repr__
		if TYPE_CHECKING:
		if __name__ == .__main__.:
		if self\.debug
		pragma: no cover
		raise NotImplementedError


[html]
directory = htmlcov
title = NextLevelApex Coverage Report
