[run]
branch = True
source =
    nextlevelapex
    Tests
omit =
    */__init__.py
    */tests/*
    */migrations/*
    .venv/*
    setup.py
    */site-packages/*

[report]
# Improve human readability in CLI output
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise NotImplementedError
    if __name__ == .__main__.:

[html]
directory = htmlcov
title = NextLevelApex Coverage Report
